langchain==0.3.25
langchain-aws==0.2.23
langchain-core==0.3.60
langchain-openai==0.3.17
langchain-text-splitters==0.3.8
matplotlib==3.10.3
tenacity==9.1.2
tqdm==4.67.1
pandas==2.2.3
pydantic==2.11.4
pydantic-settings==2.9.1
unsloth==2025.5.7
json_repair==0.45.1
torch==2.7.0
torchvision==0.22.0